  body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        table th, table td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }
        table th {
            background-color: #f2f2f2;
        }
        .success-msg {
            text-align: center;
            color: #28a745; /* Green color for success message */
            font-size: 18px;
            margin-bottom: 20px;
        }
        .error-msg {
            text-align: center;
            color: #dc3545; /* Red color for error message */
            font-size: 18px;
            margin-bottom: 20px;
        }
        .text-link {
            display: block;
            text-align: center;
            margin-top: 20px;
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
        }