<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- ```````````````````````````````````````````````````````````````````````` -->
    <listener>
        <listener-class>servlet.listener.MyServerSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>servlet.listener.MyRequestListener</listener-class>
    </listener>
    <!-- ```````````````````````````````````````````````````````````````````````` -->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>Controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDashboard</servlet-name>
        <servlet-class>Controller.UserDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>Controller.RoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowHotelsServlet</servlet-name>
        <servlet-class>Controller.ShowHotelsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowHotelsServlet</servlet-name>
        <url-pattern>/ShowHotelsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Controller.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HotelServlet</servlet-name>
        <servlet-class>Controller.HotelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HotelServlet</servlet-name>
        <url-pattern>/HotelServlet</url-pattern>
    </servlet-mapping>
    <!-- ```````````````````````````````````````````````````````````````````````` -->
    <servlet-mapping>
        <servlet-name>UserDashboard</servlet-name>
        <url-pattern>/UserDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/roomServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
