<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- ```````````````````````````````````````````````````````````````````````` -->
    <listener>
        <listener-class>servlet.listener.MyServerSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>servlet.listener.MyRequestListener</listener-class>
    </listener>
    <!-- ```````````````````````````````````````````````````````````````````````` -->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>Controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>Controller.RoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLoginServlet</servlet-name>
        <servlet-class>Controller.CheckLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckBookedServlet</servlet-name>
        <servlet-class>Controller.CheckBookedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaneServlet</servlet-name>
        <servlet-class>Controller.PlaneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeatServlet</servlet-name>
        <servlet-class>Controller.SeatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightServlet</servlet-name>
        <servlet-class>Controller.FlightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrderServlet</servlet-name>
        <servlet-class>Controller.AdminOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>Controller.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>Controller.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUD</servlet-name>
        <servlet-class>Controller.CRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionActionServlet</servlet-name>
        <servlet-class>Controller.TransactionActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDataServlet</servlet-name>
        <servlet-class>Controller.GetDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Controller.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HotelServlet</servlet-name>
        <servlet-class>Controller.HotelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HotelServlet</servlet-name>
        <url-pattern>/HotelServlet</url-pattern>
    </servlet-mapping>
    <!-- ```````````````````````````````````````````````````````````````````````` -->
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/roomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLoginServlet</servlet-name>
        <url-pattern>/CheckLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckBookedServlet</servlet-name>
        <url-pattern>/CheckBookedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaneServlet</servlet-name>
        <url-pattern>/PlaneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeatServlet</servlet-name>
        <url-pattern>/SeatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightServlet</servlet-name>
        <url-pattern>/FlightServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderServlet</servlet-name>
        <url-pattern>/AdminOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUD</servlet-name>
        <url-pattern>/CRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionActionServlet</servlet-name>
        <url-pattern>/TransactionActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDataServlet</servlet-name>
        <url-pattern>/GetDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
